extends ../layout

block content
  h1 Editing lead #{lead.id}
  p Enter new email for: #{lead.email}
  form(action="/lead/"+lead.id+"/edit", method="POST").text-center.input-group.mb-3
    input(name="lead_email" type="email",placeholder="Enter new email adress" value=lead.email).form-control
    .input-group-append
      button(type="submit").btn.btn-primary Save changes